@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


:root {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.9em;
display: flex;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html {
  height: 100vh;
  background-color: var(--c-base);
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 600px;
}

.pageContent {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  /* justify-items: center; */
}

.mainContent {
  flex-grow: 1;
}

.article {
  margin: 0 auto;
  max-width: 35rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.btnContainer {
 display: grid;
 /* justify-content: flex-start; */
 outline: auto;
 grid-template-columns: 1fr 1fr 1fr;
 padding-bottom: 30vh;
}


/* #prevBtn,
#nectBtn {
  justify-self: center;
} */

#allBtn {
  justify-self: flex-end;
}

.hide-article {
  display: none;
}

.beach {
  max-width: 100%;
}

button {
  text-decoration: none;
  font-family: inherit;
  padding: .5em;
  margin: .5rem;
}

img {
  width: 100%;
}