/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --angle-sm: 5.78deg;
  --angle-lg: -6.65deg;

  --c-black: #0A0909;
  --c-blackText: #000;
  --c-lilac: #DBACFF;
  --c-mint: #D7FFC5;
  --c-orange: #FC7B53;
  --c-whiteBg: #FFFDFA;
  --c-whiteBgBtn: #000;
  --c-yellow: #FEC477;

  --sdw-box-sm: 6px 6px 0px #000000;
  --sdw-box-lg: 12px 12px 0px #000000;
  --sdw-text: 4px 4px 0px #000000;

  --pad-primary: 40px:
  --pad-secondary: 30px;
}

* {
  margin:0;
  margin-block-start: 0;
    margin-block-end: 0;
}

p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

h1, h2, h3, h4, button {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-size: 96px;
  line-height: 86px;
  margin: 0;
  /* padding: 40px; */
  /*position: absolute; -isf left and top only, to padding*/
}

h2 {
  font-size: 40px;
  line-height: 48px;
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  margin: 0;
  /*position: absolute; -isf left and top only, to padding*/
}

h3 {
  font-size: 32px;
  line-height: 38px;
  padding: 40px 23px;
  /* padding-top: 23px; */

  /*position: absolute; -isf left and top only, to padding*/
}

h4 {
  font-size: 64px;
  line-height: 77px;
  left: 40px;
  top: 572px;
  color: #FEC477;
  border: 1px solid #000000;
  text-shadow: 4px 4px 0px #000000;
}

h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

:root {
  margin: 0;
  padding: 0;
  line-height: 1.9em;
  display: flex;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html {
  background: #0A0909;
  border: 2px solid #000000;
  border-radius: 20px;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 600px;
  background: #0A0909;
  border: 2px solid #000000;
  border-radius: 20px;
}

.header,
.mainContent,
.btnContainer,
.articleSection,
.titleContainer {
  background: #FFFDFA;
  border: 1px solid #0A0909;
  border-radius: 20px;

}

.header {
  padding: 40px;
}


.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
}

.article {
  display: flex;
  flex-direction: column;
  justify-items: center;
  /* align-items: center; */
  background-color: var(--c-black);
  flex-grow: 1;
}

.articleSection {
  padding: var(--pad-primary);
  background-color: black;
  display: flex;
  flex-direction: column;
}

.box {
  border: 1px solid #0A0909;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 40px;
  background-color: var(--c-whiteBg);
}

.mainContent {
  /* flex-grow: 1; */
  /* display: flex; */
  /* padding: 40px; */
}



.btnContainer {
  display: grid;
  /* justify-content: flex-start; */
  /* outline: auto; */
  grid-template-columns: 1fr 1fr 1fr;
  /* padding-bottom: 30vh; */
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  bottom: 0;
  padding-bottom: 5vh;
  /* bottom: 10vh; */
  gap:10px;
  padding-top: 30px;
  background-color: transparent;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
}

.pageIndicator {
  text-align: center;
}

.pageIndicator > button {
 margin: 0 5px;
}

button {
  text-decoration: none;
  padding-top: 6px;
  padding-bottom: 14px;
  border: 1px solid #0A0909;
  box-shadow: 6px 6px 0px #000000;
  border-radius: 20px;
  /* text-align: center; */
}

.btnSmall {
  /* display: flex; */
  flex-direction: row;
  justify-content: flex-end;
  /* align-items: flex-start; */
  padding: 6px 14px;
  box-shadow: 6px 6px 0px #000000;
  border-radius: 20px;
 
}

.btnSmallText {
  font-size: 16px;
  line-height: 14px;
  flex: none;
  flex-grow: 0;
  order: 0;
}


.btnBig {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  padding: 12px 44px;
  gap: 10px;
  border: 1px solid #0A0909;
  box-shadow: 6px 6px 0px #000000;
  border-radius: 20px;

}

.btnBigText {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#btnToArticle {
  margin: 23px auto;
  text-align: center;
  background-color: #FC7B53;
}



/* identical to box 

/* #prevBtn,
#nectBtn {
  justify-self: center;
} */

#allBtn {
  justify-self: center;
  grid-column-start: 2;
}

/* .hide-article {
  display: none;
} */


img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#textBoxAll,
#headingBox,
#textBox {
  background-color: #FFFDFA;

}

#headingAll {
  background-color: #FFFDFA;
  color:#FEC477;
  text-shadow: 4px 4px 0px #000;
  -webkit-text-stroke: 1px #000;
  
}

#headingAllText {
  background-color: #D7FFC5;
}
#headingBox {
  background-color: #DBACFF;
}

#prevBtn,
#nextBtn {
  background-color: #D7FFC5;
}

#allBtn {
  background-color: #FC7B53;
}

/* h1 {-webkit-text-stroke: 1px #000} */

